html {
    background: #222;
}

body {
    background: #333;
    margin: 5ch 30% 0 30%;
    padding: 5ch;
    width: auto;
}

p {
    text-align: center;
    color: #bbb;
}

img {
    display: block;
    width: 50%;
    margin: 0 auto 5ch auto;
}
