html {
    background: #222;
}

body {
    background: #333;
    margin: 5ch 30% 0 30%;
    padding: 5ch;
    width: auto;
}

p {
    text-align: center;
    color: #bbb;
}

img {
    display: block;
    width: 50%;
    margin: 0 auto 5ch auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

input {
    color: black;
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    width: 50%;
    box-sizing: border-box;
}


label {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    width: 50%;
    box-sizing: border-box;
}

button {
    color: black;
    text-align: center;
    padding: 5px;
    border: 2px solid #ccc;
    margin: 5px 0;
    width: 50%;
    box-sizing: border-box;
}

button.login-button {
    color: black;
    text-align: center;
    padding: 5px;
    border: 2px solid #ccc;
    margin: 5px 0;
    width: 50%;
    box-sizing: border-box;
    transition-duration: 0.4s;
    background-color: #04AA6D;
}

button.login-button:hover {
    background-color: white;
}

button.register-button {
    color: black;
    text-align: center;
    padding: 5px;
    border: 2px solid #ccc;
    margin: 5px 0;
    width: 50%;
    box-sizing: border-box;
    transition-duration: 0.4s;
    background-color: #0440fD;
}

button.register-button:hover {
    background-color: white;
}

