@font-face {
    font-family: TheWitches;
    src: url(/styles/TheWitches.ttf);
}

@font-face {
    font-family: Cloister;
    src: url(/styles/CloisterBlackLight.ttf);
}

body {
    background: #222;
    color: #ddd;

    /* Make the body expand to fit the screen */
    min-height: 100vh;
    min-width: 100vw;

    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 40pt;
    /* TODO */
    /* text-shadow: 0 0 5px #bba; */
    font-family: Cloister;
}

header .logo {
    margin: 0;

    font-family: TheWitches;
    font-size: 40pt;

    text-decoration: none;
    text-shadow: 0 0 5px #bba;
    color: #ddd;
}

main {
    margin: 0 30vw;
}

form {
    display: grid;
    grid-template-columns: minmax(20ch, 30%) auto;
    grid-gap: 5px;
}

button {
    border-radius: 5px;
    background: #ddd;
    font-family: serif;
    font-size: 12pt;
}

form button {
    align-self: center;
    justify-self: center;
    grid-column: 1 / span 2;
}

input {
    background: #ddd;
    border: 3px solid #ddd;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0 0 10px #dfd;
    border: 3px solid #ddd;
}

input:user-invalid {
    background: #f05;
    border: 3px solid #ffffff;
}

.inline-error {
    color: #f00;
    margin: 5px 0;
    align-self: center;
    justify-self: right;
    grid-column: 1 / span 2;
}


.userInput {
    position: relative;
    width:200px;
    height:20px;
    z-index: 2;
    background: rgba(81, 121, 91, 0.9);
    transition: background-color 0.3s ease;
}

.userInput:focus{
    background-color: #23cb1c;
}


header .prideLogo{
    margin: 0;

    font-family: TheWitches;
    font-size: 40pt;

    text-decoration: none;
    text-shadow: 0 0 5px #bba;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease;
    animation: labelColorChange 5s infinite;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 10px solid transparent; /* Adjust as needed */
    border-image: url('../images/pintura.jpg') 30 stretch; /* Adjust the slice and scaling as needed */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 5px solid transparent; /* Adjust as needed */
    border-image: url('../images/pintura.jpg') 30 stretch; /* Adjust the slice and scaling as needed */
}


@keyframes labelColorChange {

    0% {
        color: #FF1493;
        text-shadow: 0 0 5px #bba;
    }
    12.5% {
        color: #FF0000;
        text-shadow: 0 0 10px #bba;
    }
    25% {
        color: #FFA500;
        text-shadow: 0 0 15px #bba;
    }
    37.5% {
        color: #FFFF00;
        text-shadow: 0 0 20px #bba;
    }
    50% {
        color: #7FFF00;
        text-shadow: 0 0 25px #bba;
    }
    62.5% {
        color: #00FFFF;
        text-shadow: 0 0 20px #bba;
    }
    75% {
        color: #0000FF;
        text-shadow: 0 0 15px #bba;
    }
    87.5% {
        color: #9932CC;
        text-shadow: 0 0 10px #bba;
    }

    100% {
        color: #FF1493;
        text-shadow: 0 0 5px #bba;
    }

}